/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #fafafa; /* Black*/
    background-image: linear-gradient(rgba(239,186,196, .6) 10%, rgba(239,186,196, .6)), url('../images/cat3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden; /* Disable horizontal scroll */
    box-shadow: 0 10px 15px 0 rgba(22, 46, 79, 0.1);
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
    color: white;
}

.sidenav .closebtn:hover {
  color: rgb(165,214,228);
  -ms-transform: scale(1.1,1.1); /* IE 9 */
  -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
  transform: scale(1.1,1.1);
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.menu-header {
  position: relative;
  height: 22%;
  padding-top: .8em;
  z-index: -1;
  /*background-image: linear-gradient(#f8e3e8 10%, #efb7c2);*/
  /*box-shadow: 0 6px 30px 0 rgba(22, 46, 79, 0.1);*/
}

.menu-header h3 {
  text-align: center;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold
}

.img-cadastro {
  position: relative;
  margin-top: -10em;
}

.btn-add-product {
  position: absolute;
  left: 27%;
  top: 12%;
  background-color: #efb7c2;
  color: #fff;
  padding: 1.3em;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 6px 30px 0 rgba(22, 46, 79, 0.1);

  transition: .2s all ease-in-out;
}

.btn-add-product:hover {
  background-color: #ddd;
}

.img-cadastro img, .my-pets img {
  border-radius: 50%;
  display: block;
  margin-left: 2em;
  box-shadow: 0 10px 15px 0 rgba(22, 46, 79, 0.1);
}

.my-pets {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.my-pets::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.my-pets img {
  display: inline-block;
  vertical-align: middle;
}

.img-cadastro img {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 2em;
}

.img-cadastro h3 {
  color: white;
}

.glyphicon-chevron-right, .glyphicon-chevron-left {
  color: rgba(239,186,196, 1);
  border: none;
  text-shadow: none;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
}

.profile-info {
  margin-top: 3.5em;
  color: white;
  margin-left: 2em;
}

.profile-info p {
  font-size: 1.7em;
}

.info-important {
  font-size: 1.2em;
  font-weight: bold;
}

.footer-services {
  border: none;
}

.sidenav a.service-link {
  font-weight: normal;
  font-size: .9em;
  text-align: left;
  padding-left: 0em;
  margin-bottom: 2em;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

@media screen and (max-width: 1440px) {
  .btn-add-product {
    left: 32%;
  }
  .profile-info p {
    font-size: 1.7em;
  }
}

@media screen and (max-width: 1024px) {
  .btn-add-product {
    left: 35%;
    font-size: 12px;
  }
  .img-cadastro {
    margin-top: -7em;
  }
  .img-cadastro img  {
    height: 120px;
    width: 120px;
  }
  .my-pets img {
    height: 100px;
    width: 100px;
  }
  .profile-info p {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 768px) {
  .btn-add-product {
    left: 44%;
    font-size: 11px;
  }
  .img-cadastro img  {
    height: 110px;
    width: 110px;
  }
  .my-pets img {
    height: 90px;
    width: 90px;
  }
}

@media screen and (max-width: 620px) {
  .btn-add-product {
    left: 32%;
  }
  .img-cadastro {
    margin-top: -5em;
  }
}

@media screen and (max-width: 320px) {
  .btn-add-product {
    left: 36%;
  }
}
