<link rel="stylesheet" type="text/css" href="/stylesheets/services.css">
<script type="text/javascript" src='javascripts/datepicker/js/bootstrap-datepicker.js'></script>
<script type="text/javascript" src='javascripts/datepicker/locales/bootstrap-datepicker.pt-BR.min.js'></script>
<link rel="stylesheet" type="text/css" href="javascripts/datepicker/css/bootstrap-datepicker.css">

<h1 class="text-center">Formulario para Agendamento de Serviços</h1>

<div class="row col-md-8" id="formulario">
		<div class="form-inline marginDefault">
			<div class="form-group" id="divCliente">
				<label for="nomeCliente">Nome Cliente</label>
				<input id="nomeCliente" type="text" class="form-control boxSizeDefault" placeholder="Digite o nome do Cliente"></input>
			</div>
			<div class="form-group" id="divPet">
				<label for="nomePet">Nome Pet</label>
				<input class="form-control boxSizeDefault" id="nomePet" placeholder="Nome do Pet"></input>
			</div>
		</div>
		<div class="form-inline marginDefault">
			<div class="form-group" id="divCliente">
				<label for="contatoCliente">Fone Contato</label>
				<input id="contatoCliente" type="text" class="form-control boxSizeDefault" placeholder="(XX) XXXXX-XXXX"></input>
			</div>
			
		</div>
		<div class="form-inline marginDefault" id="divConsulta">
			<div class="form-group">
				<label for="consultaTipo">Tipo do Serviço</label>
				<select class="form-control" id="select">
					<option value="1">Banho e tosa</option>
					<option value="2">Consulta com Veterinario</option>
					<option value="3">Adestramento</option>
					<option value="4">Castração</option>
				</select>
			</div>

			<div class="input-group date" data-provide="datepicker" id="divData">
			    <input type="text" class="form-control boxSizeDefault" id="datepicker" placeholder="Data da Consulta">
			    <div class="input-group-addon">
				    <span class="glyphicon glyphicon-th"></span>
		    	</div>
			</div>
		</div>
		<div class="form-group">
			<button class="btn-default btn center-block" id="botao_submit">Agendar</button>
		</div>
		<br>
</div>
<div class="row col-md-8" >
		
</div>

<script type="text/javascript" src='javascripts/datepicker.js'></script>